html, body {
    height: 100%;
}
/*********************************************************************************/
/* Menüleiste --> schwarze Leiste                                                                 */
/*********************************************************************************/
#menu {
    background: #171717;
    height: 100px;
}
#menu ul {
    height: 100px;
    text-align:center;
    margin: 0px;
}
#menu li {

    display: inline-block;
    border-right: 2px solid #FFFFFF;
    margin:10px;
}
#menu li:last-child {
    border-right:none;
}
#menu p {
    display: inline-block;
    padding: 0px 50px ;
    text-transform: uppercase;
    color: #FFF;
    font-family :"Rockwell Condensed" ;
}



/*********************************************************************************/
/* Logoleiste --> Graue Leiste                                                                 */
/*********************************************************************************/
#logo
{
    overflow: hidden;
    height: 165px;
    background: #333333;
    text-align: center;
}
#logo img {
    position:absolute;
    margin:auto;
    top: -9999px;
    bottom: -9380px;
    left: -9999px;
    right: -9999px;

}

/*********************************************************************************/
/* SuchLeiste --> braune Leiste                                                                 */
/*********************************************************************************/
#search
{
    background: #333333;
}
#searchMenu {
    overflow: hidden;
    height: 100px;
}
#searchMenu ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
    text-align: center;

}
#searchMenu li {
    display: inline-block;
}
.button{
    max-width:100px;
    padding:7px 20px;
    background: #171717;
    font-family: "Arial";
    color: white;
    font-size: 16px;
    cursor:pointer;
    border-radius: 10px;
    text-align: center;

}
.input{
    padding:9px 21px;

}



/*********************************************************************************/
/* ContentMenu --> Hellgrau                                                                 */
/*********************************************************************************/
#content
{
    height:300px;
    position: relative;
    overflow: hidden;
    padding: 6em 0em 5em 0em;
}






/*********************************************************************************/
/* Untereleiste -->graue Leiste                                                                 */
/*********************************************************************************/
#copyright
{
    overflow: hidden;
    text-align: center;
    margin:40px auto;



}
#copyright p
{
    letter-spacing: 0.20em;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.80em;
    color: #FFF;



}
#wrapper {
    background: #FFFFFF ;
}

body {
    margin: 0px;
    padding: 0px;
    background: #333333;
}

.container {
    width: 1200px;
    margin: 0px auto;

}

.clearfix {
    clear: both;

}




































